
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table align="center" border="1" cellpadding="4" cellspacing="4">
    <thead>
        <tr>
            <th style="background-color: darkred;color: blue">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nombre
                </tr>
            }
        }
    </tbody>
</table>