<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="madrigaldev_testEntities" connectionString="metadata=res://*/madrigalDevEntityDataModel.csdl|res://*/madrigalDevEntityDataModel.ssdl|res://*/madrigalDevEntityDataModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=35.237.130.184;user id=lgmg23;password=gerard1995;persistsecurityinfo=True;database=madrigaldev_test&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>